@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 160px);">
    <div class="col-md-4 login-box">
        <section>
            <form id="account" method="post">
                <h2>Datos de inicio de sesión</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                    <label asp-for="Input.Email" class="form-label">Usuario</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Contraseña" />
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Iniciar Sesión</button>
                </div>
                <div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar un nuevo usuario</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    
</div>

<style>

    .login-box {
        background: #e9ecef;
        color: #176C8C;
        border: 2px solid #0f4e61;
        border-radius: 18px;
        padding: 1.25rem 1.5rem;
        font-weight: 700;
        max-width: 980px;
        margin: auto; 
        position: relative; 
        top: 50%;
    }

</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
