<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoFinal_GarroFernando</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoFinal_GarroFernando.styles.css" asp-append-version="true" />
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark border-bottom box-shadow mb-3"
             style="background-color:#176C8C; ">
            <div class="container-fluid" 
                style="background-color:#176c8c;">
                <a class="header-info" asp-area="" asp-controller="Home" asp-action="Index">Menú principal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer" style="background-color:#176C8C;">
        <div class="container text-center py-2">
            <span class="footer-info">
                Sistema de gestión universitaria, 2025 
            </span>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



<style>

    .footer-info {
        display: inline-block;
        background: #e9ecef;
        color: #176C8C;
        font-weight: 700;
        font-size: 1.2rem;
        padding: .22rem .80rem;
        border-radius: 10px;
        border: 2px solid #0f4e61;
    }

    .header-info {
        display: inline-block;
        background: #e9ecef;
        color: #176C8C;
        font-weight: 700;
        font-size: 1.2rem;
        padding: .22rem .80rem;
        border-radius: 10px;
        border: 2px solid #0f4e61;
        text-decoration: none !important;
    }

</style>

