@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Profesor")) {
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: calc(100vh - 160px);">

            <h1 class="text-center" style="color:#176C8C; margin:3rem 0;">Menú principal</h1>
            <a class="welcome-box" asp-area="" asp-controller="Carreras" asp-action="Index">Configuración de carreras</a>
            <a class="welcome-box" asp-area="" asp-controller="Cursos" asp-action="Index">Configuración de cursos</a>
            <a class="welcome-box" asp-area="" asp-controller="Estudiantes" asp-action="Index">Configuración de estudiantes</a>
            <a class="welcome-box" asp-area="" asp-controller="Profesores" asp-action="Index">Configuración de profesores</a>
            <a class="welcome-box" asp-area="" asp-controller="Matriculas" asp-action="Index">Configuración de matrículas</a>
            <a class="welcome-box" asp-area="" asp-controller="MatriculaDetalles" asp-action="Index">Configuración de detalles de matrículas</a>

        </div>
    } 
    else
    {
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: calc(100vh - 160px);">

            <h1 class="text-center" style="color:#176C8C; margin:3rem 0;">Menú principal</h1>
            <a class="welcome-box" asp-area="" asp-controller="Carreras" asp-action="Index">Listado de carreras general</a>
            <a class="welcome-box" asp-area="" asp-controller="Cursos" asp-action="Index">Listado de cursos general</a>
            <a class="welcome-box" asp-area="" asp-controller="Matriculas" asp-action="Index">Mi matrícula</a>

        </div>
    }
}
else
{
    <div class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 160px);">
        <div class="welcome-box text-center">
            <h5>Bienvenido al Sistema de gestión de matrícula!!</h5>
            <p>Favor inicie sesión para continuar con el proceso…</p>
        </div>
    </div>
}


<style>

    .welcome-box {
        background: #e9ecef;
        color: #176C8C;
        border: 2px solid #0f4e61;
        border-radius: 18px;
        padding: 1.25rem 1.5rem;
        font-weight: 700;
        max-width: 980px;
        margin: .50rem 0;
        position: relative;
        top: 50%; 
        transform: translateY(-50%);
        text-decoration: none !important;
    }

        .welcome-box h5 {
            margin-bottom: .5rem;
        }

        .welcome-box p {
            margin: 0;
            font-weight: 700;
        }

</style>